[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = just a trial.
[access "refs/*"]
	owner = group user/trial-user-mrdogan7
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/trial-user-mrdogan7
	label-Verified = -1..+1 group user/trial-user-mrdogan7
	push = group user/trial-user-mrdogan7
	read = group user/trial-user-mrdogan7
	rebase = group user/trial-user-mrdogan7
	removeReviewer = group user/trial-user-mrdogan7
	submit = group user/trial-user-mrdogan7
[access "refs/heads/*"]
	create = group user/trial-user-mrdogan7
	push = +force group user/trial-user-mrdogan7
	pushMerge = group user/trial-user-mrdogan7
	read = group user/trial-user-mrdogan7
[access "refs/tags/*"]
	push = group user/trial-user-mrdogan7
	push = +force group user/trial-user-mrdogan7
